@import './base.css';

#app {
 min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
display: flex;
flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: #0e9494;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
     color: #14498d;
  }
}

.container {
max-width: 1240px;
width: 100%;
padding: 0 30px;
margin: 0 auto;
}

main {
flex-grow: 1;
}

@media (max-width: 1023px) {
.container {
max-width: 860px;
}
}